%button {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: $radius-base;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;

  &.block {
    display: block;
    width: 100%;
  }

  &.rounded {
    border-radius: 50px;
  }

  &.sm {
    padding: .5rem .75rem;
    font-size: .9rem;
  }
}

.btn-default {
  @extend %button;

  background-color: $color-base-bg;
}

.btn-primary {
  @extend %button;

  background-color: $color-primary;
  color: #fff;
}

.btn-danger {
  @extend %button;

  background-color: $color-danger;
  color: #fff;
}
