<h1>Editing Client Admin Work Property</h1>

<%= render 'form', client_admin_work_property: @client_admin_work_property %>

<%= link_to 'Show', @client_admin_work_property %> |
<%= link_to 'Back', client_admin_work_properties_path %>
