.l-sticky-navigation {
  position: sticky;
  bottom: 0;
  border-top: 1px solid $color-base-border;
  background-color: #fff;

  .navigations {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .navigation-item {
    display: block;
    flex-basis: 33%;
    flex-grow: 1;
  }

  .navigation-anchor {
    display: block;
    padding: .5rem 0 1.5rem;
    color: $color-base-text;
    text-align: center;

    &.active {
      color: $color-primary;
    }
  }

  .navigation-label {
    font-size: .8rem;
    font-weight: bold;
  }
}
