<% required ||= false %>
<div class="form-group">
  <label class="form-group-inner">
    <%= form.label name, class: "form-label #{:required if required}" if name %>
    <%= yield %>
  </label>
</div>
