<div class="l-container">
  <%= render "shared/section", title: "クライアント管理者画面" do %>
    <ul class="iconic-list">
      <li class="iconic-list-item">
        <%= link_to nil, class: "iconic-list-anchor" do %>
          <div class="icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="body">
            xxx
          </div>
          <i class="fas fa-chevron-right arrow-icon"></i>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%= link_to 'ログアウト',session_path, method: :delete %>
</div>
