@import 'layouts/header';
@import 'layouts/sticky_navigation';
@import 'layouts/section';

.l-container {
  max-width: 40rem;
  margin: 0 auto;
}

.l-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .l-content {
    flex-grow: 1;
  }
}
