@import './layouts/header';
@import './layouts/sticky_navigation';

.l-container {
  max-width: 40rem;
  margin: 0 auto;
}

.l-main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .l-content {
    flex-grow: 1;
  }
}
