$color-base: #000;
$color-base-bg: #f2f2f7;
$color-base-border: #e9e9ea;
$color-base-text: #9f9f9f;
$color-primary: #3679e3;
$font-fmaily-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
