<nav class="l-sticky-navigation">
  <div class="l-container">
    <ul class="navigations">
      <li class="navigation-item">
        <%= link_to '#', class: 'navigation-anchor' do %>
          <i class="fas fa-home"></i>
          <div class="navigation-label">ホーム</div>
        <% end %>
      </li>
      <li class="navigation-item">
        <%= link_to '#', class: 'navigation-anchor' do %>
          <i class="fas fa-hand-point-up"></i>
          <div class="navigation-label">日報</div>
        <% end %>
      </li>
      <li class="navigation-item">
        <%= link_to '#', class: 'navigation-anchor' do %>
          <i class="fas fa-heart"></i>
          <div class="navigation-label">ありがとう</div>
        <% end %>
      </li>
      <li class="navigation-item">
        <%= link_to '#', class: 'navigation-anchor' do %>
          <i class="fas fa-search"></i>
          <div class="navigation-label">調べる</div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
